<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"><head>
  <meta charset="ISO-8859-1">
  <title>List Users</title>
</head>
<body>
<div class="container text-center">
  <div>
    <form th:action="@{/logout}" method="post">
      <p>
      <h2 class="dashboard_user_name" th:text="${user.username}" ></h2>
      </p>
      <input type="submit" value="Sign Out" />
    </form>
    <form th:action="@{/add-friend}" method="post">
      <label>Friends username: <input type="text" name="newFriend"></label><br>
      <button type="submit">Add friend</button>
    </form>
    </form>
  </div>
  <div>
    <h1>My friends</h1>
    <ul th:each="friend : ${friends}">
      <li th:text="${friend}"></li>
    </ul>
    </tr>
  </div>

</div>
</body>
</html>
