<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="nb"><head>
  <meta charset="ISO-8859-1">
  <title>Venners ønskelister</title>
</head>
<body>
<div class="container text-center">
  <a th:href="@{wishlist}">Min ønskeliste</a>
  <div>
    <form th:action="@{/logout}" method="post">
      <p>
      <h2 class="dashboard_user_name" th:text="${user.username}" ></h2>
      </p>
      <input type="submit" value="Sign Out" />
    </form>
    <form th:action="@{/add-friend}" method="post">
      <label>Friends username: <input type="text" name="newFriendUsername"></label><br>
      <button type="submit">Add friend</button>
    </form>
    </form>
  </div>
  <div>
    <h1>My friends</h1>
    <div th:if="${friends!=null and !friends.isEmpty()}">
      <ul th:each="friend : ${friends}">
        <li th:text="${friend.followsUsername}"></li>
      </ul>
    </div>
    <div th:if="${friendsWishes!=null and !friendsWishes.isEmpty()}">
      <ul th:each="userWish : ${friendsWishes}">
        <li th:text="${userWish.name}"></li>
        <ul th:each="wish : ${userWish.wishes}">
          <li th:text="${wish.wishName}"></li>
        </ul>
      </ul>
      <div>
  </div>

</div>
</body>
</html>
