<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="nb"><head>
  <meta charset="ISO-8859-1">
  <title>Venners ønskelister</title>
  <link th:href="@{/css/custom.css}" rel="stylesheet" />
</head>
<body>
<div>
  <div>
    <h2 th:text="${user.name}" ></h2>
    <form th:action="@{/logout}" method="post" class="logout">
      <input type="submit" value="Sign Out" />
    </form>
    <form th:action="@{/wishlist}" method="get">
      <button type="submit">Min ønskeliste</button>
    </form>
  </div>
  <div>
    <h1>Mine venner</h1>
    <div class="add-friend-wrapper">
    <form th:action="@{/add-friend}" method="post">
      <input type="text" placeholder="Vennens brukernavn" name="newFriendUsername"><br>
    </form>
      <button type="submit">Legg til venn</button>
    </div>
    <div th:if="${friendsWishes!=null and !friendsWishes.isEmpty()}">
      <ul th:each="userWish : ${friendsWishes}">
        <li th:text="${userWish.name}"></li>
        <ul th:each="wish : ${userWish.wishes}">
          <li th:text="${wish.wishName}"></li>
          <form th:action="@{/buy-wish}" method="post">
            <input type="hidden" th:value="${wish.id}" name="wishId"><br>
            <button th:disabled="${wish.wishNumberBought} > 0" type="submit">Registrer kjøp av ønske</button>
          </form>
        </ul>
      </ul>
      <div>
  </div>

</div>
</body>
</html>
