<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nb">
<head>
    <meta charset="ISO-8859-1">
    <title>Ønskelista</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <h1>Min ønskeliste</h1>
    <h3><a href="/register">Registrer</a></h3>
    <h3><a href="/login">Logg inn</a></h3>
    <h3><a href="/friends-wishes">Venners ønskelister</a></h3>
</div>

</body>
</html>